.encabezado {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
  }
  
  .encabezado__titulo {
      padding-left: 13px;
      font-family: math;
  }
  
  .encabezado__div {
    display: flex;
    align-items: center;
  }
  
  .encabezado__img {
    padding-left: 95px;
  }
    
  .encabezado__nav {
      display: flex;
      font-family: system-ui;
      padding-right: 102px;
    }
    
    nav .encabezado__nav__link {
      color: black;
      text-decoration: none;
      padding: 20px;
    }


.div {
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 500px;
    background: white;
    margin: auto;
    box-shadow: 1px 5px 30px 10px rgba(0, 0, 0, 0.2);

}

.formulario {
    padding: 72px;
}

h2 {
    margin: 0;
    margin-bottom: 40px;
}

.Correo, .Contraseña{
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 50px;
    margin-bottom: 20px;
}

.input {
    justify-content: center;
    background: transparent;
    border-style: initial;
    border-bottom: solid 2px black;
    width: 350px;

}

.input-correo {
    background: transparent;
    border-style: initial;
    border-bottom: solid 2px black;
    width: 350px;
    
}

.Boton {
    display: flex;
    flex-direction: row;
    gap: 105px;
    margin-bottom: 0;;
    justify-content: center;
}

button {
    height: 40px;
    width: 120px;
    border-radius: 20px;
    font-size: 15px;
    background: black;
    color: white;
    border: none;
}

button:hover {
    cursor: pointer;
    background: transparent;
    color: black;
    text-decoration: underline;
}

/* Media queries para hacer la página responsive */
@media (max-width: 768px) {
    .encabezado {
      flex-direction: column;
      align-items: center;
    }
}

@media (max-width: 480px) {
    .encabezado__titulo {
      font-size: 24px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        max-width: 100%; /* Ancho completo para pantallas de celular */
        padding: 10px;
    }
}